---
const { title, description, link, image, text_link, techs } = Astro.props;
import TechItem from './TechItem.astro';
---
<div class="w-full max-w-lg bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 flex flex-col h-full">
    <a href={link}>
        <img class="rounded-t-lg w-full h-48 object-cover" src={image} alt={title} />
    </a>
    <div class="p-5 flex-grow">
        <a href={link}>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
        <div class="flex flex-wrap gap-2 mt-4">
            {techs && techs.map((technology) => (
                <TechItem name={technology.name} image_url={technology.url} />
            ))}
        </div>
    </div>
    <div class="p-5">
        <a href={link} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {text_link}
            <img src="src/assets/github.svg" alt="github logo" class="w-5 h-5 ml-2" />
        </a>
    </div>
</div>